@font-face {
    font-family: 'Poppins-Black';
    src: url('./font/Poppins-Black.ttf');
}
@font-face {
    font-family:'Poppins-Regular' ;
    src: url('./font/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('./font/Poppins-Light.ttf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    text-align: center;
    position: relative;
    padding: 0;
    font-family: 'Poppins-Light';
}
h1{
    font-family: 'Poppins-Black';
    font-size: 3.5rem;
}
header{
    background-image: url('./image/background-oprec-ifest-01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 5rem;
}
.header-img{
    display: flex;
    justify-content: center;
}
.header-img img{
    height: auto;
    width: 5rem;
    margin: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-tittle{
    width: 30%;
    margin: 1rem;
    text-align: center;
}
.main-bidang{
    position: relative;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.main-bidang div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15rem;
    min-width: 50%;
}
.main-bidang div img{
    height: 10rem;
    width: auto;
}

#sistem-informasi,
#muldok,
#sekre,
#public-affairs{
    position: relative;
}
#sistem-informasi::after,
#muldok::after{
    content: '';
    background-color: rgb(255, 0, 98);
    width: 10rem;
    height: .13rem;
    top: 100%;
    position: absolute;
}
#sistem-informasi::before,
#sekre::before{
    content: '';
    background-color: rgb(255, 0, 98);
    width: .13rem;
    height: 10rem;
    top: 0%;
    left: 100%;
    position: absolute;
}
#sekre::before{
    top: 28%;
}
.main-bidang div:hover{
    cursor: pointer;
}
.overlay{
    display: flex;
    position: absolute;
    background: rgb(255, 0, 106);
    color: white;
    width: 70%;
    border-radius: 15px;
    opacity: 0%;
    transition: .5s;
    transform: scale(1.2,1.2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.overlay p{
    font-size: 1.2rem;
}
.main-bidang > div:hover .overlay{
    opacity: 100%;
    transition: .5s;
    transform: scale(1,.8);
}

@media only screen and (max-width: 770px){
    .main-bidang div{
        min-width: 100%
    }
    #sekre::before{
    content: '';
    background-color: rgb(255, 0, 98);
    width: 10rem;
    height: .13rem;
    top:100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.overlay{
    display: none !important;
}

}
.tap{
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%,-50%);
    background-color: transparent;
}
.motivation{
    margin: 1rem;
    background: linear-gradient(to right, rgb(255, 0, 106), rgb(163, 0, 163));
    color: white;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
footer{
    display: flex;
    margin: 3rem 2rem;
    font-size: .8rem;
    justify-content: space-between;
}
.container{
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 5;
    width:100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom right, rgba(255, 145, 0, 0.952), rgba(255, 23, 112, 0.952));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    opacity: 0;
    z-index: -5;
}
.container-cp{
    margin-top: 1rem;
    color: white;
}
.line-cp{
    display: flex;
    align-items: center;
}
.line-cp p{
    margin-left: 10px;
}

.data{
    min-width: 70%;
    max-width: 85%;
    min-height: 25rem;
    border-radius: 10px;
    transform: scale(0,0);
    transition: .3s;
    color: white;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.384);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.data h2{
    padding: .8rem 0;
    font-size: 3rem;
}
.tap{
    letter-spacing: 10px;
    color: rgb(206, 206, 206);
}
table{
    display: flex;
    display: table;
    height: auto;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    border-collapse: collapse;
}
tbody{
    vertical-align: middle;
}
tr{
    padding: 2rem 0;
    position: relative;
}
td{
    width: 80%;
    padding: 1.2rem;
    font-size: 1.2rem;
}
td::after{
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.144);
    height: 2px;
    border-radius: 10px;
}
@media only screen and (max-width: 770px) {
    .main-tittle{
        width: 90%;
    }
    .tap{
        display: none;
    }
    footer{
        flex-direction: column;
    }
    .data h2{
        font-size: 1.5rem;
    }
    .data p{
        padding: 0 2rem;
    }
    td{
        font-size: 1rem;
    }
    
}
@media only screen and (max-width: 500px){
    h1{
        font-size: 2rem;
    }
    td{
        padding: .8rem;
    }
    .data p{
        font-size: .8rem;
    }
    header{
        background-image: url('./image/background-oprec-ifest-01.png');
        background-position: 10%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: white;
        padding: 5rem;
    }
}
#love{
    height: 1rem;
}
footer p img{
    vertical-align: bottom;
    padding-bottom: 2px;
}
td:first-child {
    padding-left: 6rem;
    text-align: left;
}

td:last-child {
    padding-right: 6rem;
    text-align: right;
}
@media only screen and (max-width: 770px) {
    td:first-child {
        padding-left: 12%;
    }

    td:last-child {
        padding-right: 1rem;
    }
}